@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-mainDarkBlue bg-cover bg-no-repeat font-raleway font-semibold;
  }
  td {
    @apply text-center border-r-[2px] border-r-mainStrokeGray truncate max-w-[200px] px-[10px];
  }
  th {
    @apply w-[300px] border-r-[2px] border-r-mainStrokeGray text-mainOrange;
  }
  p {
    @apply font-medium;
  }
  input[type='date'] {
    border-radius: 2px;
    border: 1px solid #9f9f9f;

    background-repeat: no-repeat;
    background-blend-mode: screen, normal;
    background-position: calc(100% - 4px) 40%;
    padding: 0px 18px 0px 4px;
  }
}

@layer components {
  .content {
    @apply max-w-[1280px] mx-auto border-l-[1px] border-r-[1px] border-black px-[70px] py-[35px];
  }
}
